/* header */
header {
  background: #fff;
  /* rgba(x,y,0,블러값) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.inner {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 70px;
  z-index: 1000;
  line-height: 70px;
}


.main-menu {
  display: flex;
  gap: 90px;
  width: 500px;
  background: #ffffff;
}

.m1>a {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

/* 검색,로그인/회원가입/국가언어선택 */
.gnb {
  gap: 30px;
  display: flex;
}

.gnb>ul {
  display: flex;
  gap: 30px;
}
.gnb>.login>a:first-child::before{
  
}

.gnb>div{
  /* background: #ff7878; */
  position: relative;
}

.gnb>div>.search {
  width: 300px;
  height: 44px;
  background: #ffffff;
}
.gnb>div>a{
  position: absolute;
  right: 10px;
  top: 0;
}


.lang img {
  padding: 0 5px;
}


/* 서브메뉴 호버시 */
.sub-menu-wrap {
  display: none;
}

.main-menu>.m1:hover .sub-menu-wrap {
  position: absolute;
  left: 0;
  display: block;
  display: flex;
  border-bottom: 1px solid #cfcfcf;
  gap: 160px;
  padding: 20px 260px;
  width: 100%;
  height: 350px;
  background: #ffffff;
}

.main-menu>.m1:hover .sub-menu-wrap strong {
  font-size: 20px;
}

.main-menu>.m1:hover .sub-menu-wrap li {
  font-size: 16px;
  line-height: 36px;
}

.main-menu>.m1:hover .sub-menu-wrap li:hover {
  text-decoration: underline;
}

/* 국가언어선택 호버시 */
.lang{
  position: relative;
}
.lang-sub {
  display: none;
}

.lang:hover .lang-sub {
  display: block;
  position: absolute;
  top: 60px;
  right: 10px;
  border: 1px solid #000;
  line-height: 36px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  border-radius: 10px;
}

.lang:hover .lang-sub li:hover {
  text-decoration: underline;
}