:root {
  --main-color-yellow: #FEC739;
  --main-color-blue:#002554;
}

/* header */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 66px;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
.inner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 4px 60px 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: #fff;
  
}

.main-menu {
  display: flex;
  gap: 90px;
}

.main-menu>.m1>a {
  font-size: 18px;
  font-weight: 600;
}

.main-menu>.m1>a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: var(--main-color-yellow);
  transition: 0.25s;
}

.main-menu>.m1>a:hover::after {
  width: 100%;
}

/* gnb */
.gnb {
  gap: 40px;
  display: flex;
  align-items: center;
}

.gnb>.login>a {
  font-size: 18px;
}
.gnb>ul>.login>a:hover{
  color: var(--main-color-blue);
  font-weight: 500;
}

.login a:first-child:after {
  content: "|";
  padding: 0 10px ;
  color: #cfcfcf;
}

.gnb>ul {
  display: flex;
  gap: 30px;
}

.gnb>div {
  width: 40px;
  height: 40px;
  background: transparent;
  line-height: 40px;
  align-content: center;
  text-align: center;
}

.gnb>div>.search {
  display: none;
}

.lang {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}


/* 서브메뉴 호버시 */
.sub-menu-wrap {
  display: none;
}

.main-menu>.m1:hover .sub-menu-wrap {
  position: absolute;
  display: flex;
  gap: 160px;
  top: 74px;
  padding: 20px 460px;
  width: 100%;
  left: 0;
  height: 330px;
  background: #ffffff;
}

.main-menu>.m1:hover .sub-menu-wrap h2 {
  font-size: 18px;
  height: 60px;
}

.main-menu>.m1:hover .sub-menu-wrap li {
  font-size: 16px;
  color: #444;
  font-weight: 400;
  cursor: pointer;
  line-height: 42px;
}

.main-menu>.m1:hover .sub-menu-wrap li:hover {
  text-decoration: underline;
  color: var(--main-color-blue);
  font-weight: 500;
}

/* 국가언어선택 호버시 */
.lang {
  position: relative;
}

.lang-sub {
  display: none;
}

.lang:hover .lang-sub {
  display: block;
  position: absolute;
  top: 56px;
  right: 0;
  border: 1px solid #999999;
  line-height: 34px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  border-radius: 6px;
}

.lang:hover .lang-sub li:hover {
  text-decoration: underline;
}

.lang>a:hover{
  color: var(--main-color-blue);
  font-weight: 500;
}
.gnb>div:hover {
  background: #eeeeee;
  border-radius: 50%;
}



/* main */

.ticket {
  background: #07081d;
  height: 1080px;
}

.popular-routes{
  height: 1080px;
}

.notification{
  background: #13136b;
  height: 1080px;
}

.FAQ{
  background: #dbdbdb;
  height: 1080px;
}


/* footer */
footer{
  background: #05183B;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  padding: 60px;
  height: 470px;
}